@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --primary-color: '#19ac2b';
  --background: #ffffff;
  --foreground: #171717;
  --text-color: #fff;
}

.dark {
  --text-color: red;
  --background: #0a0a0a;
  --foreground: yellow;
}

/* base on theme of bowerser */
/* @media (prefers-color-scheme: dark) {
  :root {
    --text-color: red;
    --background: #0a0a0a;
    --foreground: yellow;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
canvas {
  display: none;
}
